.home_container {
    padding: 0rem min(1rem, 1.2dvw);
    max-width: 1000px;
    margin: 0 auto;
    overflow-y: hidden;
}

.room_list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    overflow-y: auto;
    max-height: 80dvh;
}

.empty_state {
    text-align: center;
    padding: 4rem 2rem;
    color: var(--secondary-color-5);
}

.home_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 2rem;
    font-weight: 800;
    margin: 0 0 2.5rem 0;
    color: var(--secondary-color-4);
}
