.dx-input {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary-color-1);
  box-shadow: inset 0 0 0 1px var(--border);
  color: var(--secondary-color-4);
  gap: 0.25rem;
  transition: all 100ms ease-out;
}

.dx-input::placeholder {
  color: var(--secondary-color-5);
}

.dx-input:disabled {
  color: var(--secondary-color-5);
  cursor: not-allowed;
  opacity: 0.6;
}

.dx-input:hover:not(:disabled),
.dx-input:focus-visible {
  background-color: var(--primary-color);
  box-shadow: inset 0 0 0 1px var(--focused-border-color), 0 0 0 1px var(--focused-border-color);
  color: var(--secondary-color-1);
  outline: none;
}

