.input_area {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    input {
        flex: 1;
    }
}

.message {
    border-radius: 2rem;
    background-color: var(--primary-color-2);
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 1rem;
}

.sender {
    grid-column: 1 / 3;
}

.additional_info {
    justify-self: end1;
}

.my_message {
    display: flex;
    align-self: flex-end;
}

.others_message {
    display: flex;
    align-self: flex-start;
}

.event_time {
    font-size: 0.8rem;
    align-self: flex-end;
}
